@charset "UTF-8";

@import 'mixin.less';
@import '01-main.less';
@import '06-structura.less';
@import '02-items.less';
@import '03-content.less';
@import '04-inputs.less';
@import '05-forms.less';
@import 'common.less';
@import 'fonts.less';
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
//@import 'icons.less';
//@import 'animate.less';



/* animation styles */
.item-tile-card {
	.item-tile-total.tile-row .tile-ico {
		.pulse-container {
			width: 24px;height: 24px;
			img, svg {
				width: 100%;height: 100%;
			}
		}
	}
}
.item-tile-total.tile-row .tile-ico {
	.pulse-container {
		width: 40px;height: 40px;
		img, svg {
			width: 100%;height: 100%;
		}
	}
}
.item-tile-total:not(.tile-row) .tile-ico {
	width: 30px;height: 30px;
	.pulse-container {
		width: 40px;height: 40px;
		img, svg {
			width: 100%;height: 100%;
		}
	}
}
.tile-ico, .elm-ico {
	&:has(.pulse-container) {
		overflow: visible;
		.pulse-container {
			position: absolute;
			top: 50%;left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.pulse-container {
	position: relative;
	width: 24px;
	height: 24px;
	padding: 0;
	border-radius: 50%;
	img, svg {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		bottom: 0 !important;
		right: 0 !important;
		margin: auto !important;
		object-fit: cover !important;
		animation: pulse 1s infinite;
	}
}
.bubble-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	&.active {
		display: block;
	}
}
.bubble {
	position: absolute;
	background: url('../img/bubble.png') no-repeat center;
	background-size: contain;
	border-radius: 50%;
	animation: floatUp var(--float-duration) linear;
}
.blurred {
	filter: blur(4px);
}

.zzz-container {
	display: block;
	width: 40px;height: 40px;
	position: absolute;
	top: 0;right: 20px;
	z-index: 100;
	pointer-events: none;
	.zzz {
		position: absolute;
		color: #555;
		font-size: 10px;
		font-weight: bold;
		opacity: 0;
		animation: floatZ 3s ease-in-out forwards;
		margin-left: -100px;
		margin-top: -60px;
	}
}



.clickable-image {
	cursor: pointer;
	transition: transform 0.3s ease;
}

#popupBox {
	width: 333px;height: 317px;
	max-width: 90dvw;
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background-color: #1C1A29;
	border: 3px solid #F3CB70;
	border-radius: 16px;
	text-align: center;
	padding: 40px;
	color: #F3CB70;
	font-size: 20px;
	z-index: 9;
	opacity: 0;
	transition: transform 0.2s ease, opacity 0.2s ease; /* Время появления попап окна */
}

#popupBox img {
	width: 80%;
	max-width: 100px;
	margin: 0 auto;
	transition: opacity 1s ease;
}

#containerBox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: 15;
}

.particle {
	position: absolute;
	width: 5px;
	height: 5px;
	background-color: white;
	border-radius: 50%;
	pointer-events: none;
	animation: particle-move 2s ease-out forwards, fade-out 2s linear forwards; /* время жизни частиц салюта */
}

.spark-image {
	position: absolute;
	width: 80px;
	height: 80px;
	background-size: cover;
	filter: blur(2px);
	pointer-events: none;
	animation: particle-move 2s ease-out forwards, fade-out 2s linear forwards;
}

.circle-effect {
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 50%;
	background: radial-gradient(circle, #F3CB70 0%, transparent 100%);
	animation: circle-grow 3s forwards; /* Увеличено время анимации до 3 секунд */
	pointer-events: none;
	transform: translate(-50%, -50%);
}
.item-wrap {
	&:has(.item-tile-gift-day) {
		&:has(.tile-gift-animation) {
			position: static;
		}
	}
}
.item-tile-gift-day {
	position: static;
	&:has(.tile-gift-animation) {
		.tile-photo-wrap {
			position: static;
		}
	}
	.tile-gift-animation {
		width: 85px;height: 96px;
		margin: 0 auto;
		position: static;
		z-index: 7;
		&>img {
			display: block;
			width: 100%;
			position: relative;
			z-index: 7;
		}
	}
}
.timer-box {
	.timer-inner-wrap {
		min-height: 30px;
	}
}


.elm-ico, .tile-ico {
	&:has(.image-sequence) {
		overflow: visible;
	}
	.image-sequence {
		position: absolute;
		top: 50%;left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100%;
	}
}
.image-sequence {
	position: relative;
	width: 20px; /* Width of the image */
	height: 20px; /* Height of the image */
	overflow: hidden;
}

.image-sequence img {
	position: absolute !important;
	top: 0;
	left: 0;
	object-fit: cover;
	opacity: 0;
	animation: fadeInOut 0.5s linear infinite;
}

/* Delay each image to appear sequentially */
.image-sequence img:nth-child(1) {
	animation-delay: 0s;
}
.image-sequence img:nth-child(2) {
	animation-delay: 0.1s;
}
.image-sequence img:nth-child(3) {
	animation-delay: 0.2s;
}
.image-sequence img:nth-child(4) {
	animation-delay: 0.3s;
}
.image-sequence img:nth-child(5) {
	animation-delay: 0.4s;
}
.image-sequence img:nth-child(6) {
	animation-delay: 0.5s;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes circle-grow {
	0% {
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		width: 600px; /* Максимальный размер круга теперь 600px */
		height: 600px; /* Максимальный размер круга теперь 600px */
		opacity: 0;
	}
}

@keyframes particle-move {
	to {
		transform: translate(calc(var(--dx) * 600px), calc(var(--dy) * 600px)) scale(var(--scale)) rotate(var(--angle));
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes zoom-out {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(2);
		opacity: 0;
	}
}
@keyframes floatZ {
	0% {
		transform: scale(0.5) translateY(20px);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(2) translateY(-50px);
		opacity: 0;
	}
}
@keyframes floatUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(-100%);
	}
}

@keyframes pop {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}
@keyframes pulse {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
/* end animation styles */